[2016-03-29 15:27] fredatgithub opened #1 "Release version"
hello,
A release version or a screenshot would be nice to see your app.

[2016-04-07 13:50] dbelmont commented on #1
Hi,
Thank you for the tip. I am new at GitHub.
I made this application just to support an article that I wrote, but I will do as you suggested.

[2016-04-10 09:45] fredatgithub commented on #1
ok thanks

[2016-04-11 19:38] fredatgithub commented on #1
I have forked your version and created a release
https://github.com/fredatgithub/ExpressionBuilder/releases/tag/v1.0

[2016-04-11 19:38] #1 closed

[2017-07-10 12:17] fredatgithub opened #7 "Numeric updown control misplaced"
hello,
In ExpressionBuilder.Builder.winform V1.1, at startup,the first numeric updown control is hidden partly behind the between combobox.
Can you fix this ?
![display-bug](https://user-images.githubusercontent.com/6720055/28017662-88d89e0a-657a-11e7-8367-bdcde6bc8479.jpg)

[2017-08-11 19:06] pauldeen79 opened #8 "DateTimeOffset not working"
When I try to filter on a property that is of type DateTimeOffset, then I get an exception that says the type is not supported. DateTime is working, though.

Is it possible to support DateTimeOffset also?

[2017-08-17 02:12] dbelmont commented on #7
Hi Fred,
I'm very sorry but wasn't able to reproduce this bug, besides that, this project is not really about the desktop application. That application is meant to be just a quick demo of what the library is about, so I hope you don't give up on the project just because of that. 😉
Anyway, would you mind telling me what's Windows version you're using? I'll try a bit harder to fix it because, even i

[2017-08-17 04:08] dbelmont commented on #8
Hi Paul,
I'm working on an update to create a configuration section to enable support to other types. You'll be able to map a type to a type group (used to define the supported operations), what will enable you to have support not only to `DateTimeOffset` but to basically any other type.
I already finished it, but I still need to test it a bit more and write some documentation on how to use it. I'

[2017-08-23 23:03] dbelmont commented on #8
This issue was fixed in [version 1.1.1](https://github.com/dbelmont/ExpressionBuilder/releases/tag/v1.1.1).

[2017-08-23 23:03] #8 closed

[2017-08-25 07:29] natiki opened #10 "How do you handle parentheses when building the expression?"
Hey Dave,

Nice little library. Just wondering how you would approach building in parenthesis?

[2017-09-06 07:23] dbelmont commented on #10
Hi natiki,

I'm taking a look into it and may have found a way to implement it. But, as I'm still not sure of it, would you mind helping me think of examples where that approach would be useful? I'm struggling a bit to find valid test cases that I could use.

The best that I could come up with so far was this:
[code]

What do you reckon? Could you think of something else?

Many thanks,
David

[2017-10-17 14:52] eveneveneven opened #12 "IQueryable"
Greetings David, I like your work - however I can't make it work with LINQ to SQL.

Am I doing this wrong, or is there there anything we can do to make it compatible with IQueryable?

Best regards,
Even

[2017-10-17 23:11] dbelmont commented on #12
Hi Even,

First of all, thanks for your interest in the project.

I never tested this code with LINQ to SQL. In fact, I admit there are a lot of things that I'd like to improve in this project, but just can't find the time to do so. Actually, I've got a few improvements on the way to be released soon, I'll check your issue and try to release a fix for it along with the other stuff. I just can't gi

[2017-10-18 08:08] eveneveneven commented on #12
Thanks for the quick response! I think I got your back on this "issue". I've tested it and it seems to work just as expected.

Submitted a pull request :)

[2017-10-24 12:27] dbelmont commented on #12
Many thanks for your contribution, Even.

Actually, that change was already covered in the next version, which I expect to release this November. I'm only finishing one last feature that I'd like to add to this release.

Once again, thank you very much.

Cheers.

[2017-11-03 07:25] gekakud commented on #12
Hi David. Great library! It is going to save me a lot of time, but mainly provide fluent readable API. Waiting for your next release to test it in EF Linq to SQL. Keep going))

[2017-11-03 08:58] eveneveneven commented on #12
@gekakud Check the closed pull requests if you want to test Linq to SQL before David gets the time to publish the next release. He had already made this change in his code.

I'm also eagerly waiting the next release 👍

[2017-11-03 09:08] gekakud commented on #12
@eveneveneven Sure I will! Thank you guys

[2017-11-07 11:05] glenn2223 opened #14 "Change `Expression.Property` to `Expression.PropertyOrField`. ERROR: Instance property '<FIELD>' is not defined for type '<CLASS>'"
**I'm using LINQ TO SQL `IEnumerable`**

I'm getting the following exception.
`Instance property 'AssignedTo' is not defined for type 'IssueSearch'`
It was only starting to get thrown after adding this custom `IssueSearch` class with the embedded `UserInfo`.

Here's my class
[code]

Here's my `Filter<IssueSearch>.By`. (I've included the `Type`'s, for reference)
[code]

This is how I populate the `

[2017-11-08 08:54] glenn2223 commented on #14
Just an addition. Changing the `.Where()` to the below code does work.

[code]

[2017-11-15 21:52] dbelmont commented on #14
Hi Glenn,

Many thanks for taking the time to log this issue. Feedback is always welcome! :)

Now, regarding the issue, it's a bit strange because (from what you've described) it should be working. I'm pretty sure we got unit tests for this specific case.

I'm about to release a new version within the next days and it'll fix a bug around the usage of the library with LINQ To SQL. It doesn't seem t

[2017-11-16 15:31] eveneveneven commented on #14
@glenn2223 Might it be that in this case, when you are using ExpressionBuilder it will execute the sql before the .Where(Filter) is run. In that case it could be very much related to my issue which should be addressed soon.

What I'm trying to say is, if you run the .Where(x => new string[] { "Id1", "Id2" }.Contains(x.AssignedTo.Id)) on an IQueryable it will include the UserInfo entity for you. Bu

[2017-11-16 16:21] glenn2223 commented on #14
@eveneveneven. I see where you're coming from.

I tried adding `.Include("UserInfo")` and no luck. Same exception. I'll wait for the updated version and report back.

[2017-11-16 17:12] eveneveneven commented on #14
Worth a shot.
Anyway when I look at it should probably be .Include("AssignedTo") or .Include(is => is.AssignedTo) and be before whenever the query is enumerated so that the include will be included in the sql.

But seeing that you already get an IEnumerable<IssueSearch> from your code it may not be relevant anyway.

I'm just trying to be helpful and learn something at the same time!

[2017-11-17 16:08] glenn2223 commented on #14
@eveneveneven. For the sake of learning 😁

I tried both your other include suggestions and no luck 😞

[2017-12-01 14:56] clabnet opened #15 "How to compile ?"
I have VS2015, .net 4 until 4.71,
what .NET framework must use to compile ?

[2017-12-05 22:59] dbelmont commented on #15
Hi Claudio,

Unfortunately, the last release was built using some features only available on C# 7, but I've already fixed it and it will be in the next release (that should be available in a few days). In this meanwhile, you can check out the branch [v1.1.2](https://github.com/dbelmont/ExpressionBuilder/tree/v1.1.2) (which is the next release branch).

Many thanks for your interest in the project

[2017-12-06 05:07] dbelmont commented on #14
Hi Glenn,

I uploaded a release candidate version on NuGet today. Would you mind trying again with that version when you get some time?

If you add the reference through the ***"Manage NuGet packages"*** option in Visual Studio, don't forget to tick the ***"Include prerelease"*** option (otherwise, this version won't be listed).

Many thanks,
David

[2017-12-06 05:16] dbelmont commented on #12
Hi Even,

I uploaded a release candidate version on NuGet today. It has the implicit cast from `Filter<T>` to `Expression<Func<T, bool>>` and I've added some tests using LINQ to SQL as well (just in case...).

If you add the reference through the ***"Manage NuGet packages"*** option in Visual Studio, don't forget to tick the ***"Include prerelease"*** option (otherwise, this version won't be liste

[2017-12-06 05:21] dbelmont commented on #10
Hi Donovan,

I uploaded a release candidate version to NuGet today that finally has support for "complex expressions" (parentheses handling).

If you add the reference through the ***"Manage NuGet packages"*** option in Visual Studio, don't forget to tick the ***"Include prerelease"*** option (otherwise, this version won't be listed).

Many thanks,
David

[2017-12-06 05:23] #7 closed

[2017-12-06 10:09] eveneveneven commented on #12
Thanks David, working as expected!

[2017-12-06 10:10] #12 closed

[2017-12-06 12:27] glenn2223 commented on #14
No luck. 😭

The only thing I can think of is that I'm doing something wrong. Does the below Filter look like it's supposed to against a model you use (that works)?

![image](https://user-images.githubusercontent.com/33450392/33661577-71131f04-da80-11e7-8066-42934298ae76.png)

Do you know of a way that I can debug through your .dll from within Visual Studio to ensure the correct method is being cal

[2017-12-07 09:05] glenn2223 commented on #14
Just wanted to make sure that the way I was building the `Filter<>` wasn't the problem and that it wasn't the class field. Just hardcoded a filter using a `long` field named "Id".

The below code returned the same exception
 `Instance property 'Id' is not defined for type 'IssueSearch'`

[code]

Just not sure what I could be doing wrong.

Thanks for all your help BTW guys

[2017-12-07 11:16] eveneveneven commented on #14
@glenn2223 If you could provide some "working" code I'd be happy to have a look at it.

[2017-12-07 16:11] glenn2223 commented on #14
@eveneveneven Sorry, I mean against the model David uses in the GitHub example project. No matter what I try I can't seem to get a LINQ to SQL query to work.

I managed to launch the window forms project from the example.

The only difference I can see is that my `Statement` is a `List<IFilterStatement>[]` (an Array of List of IFilterStatement's) rather than `IFilerStatement[]` (an array of IFilte

[2017-12-08 06:37] alosupport opened #16 "Can you please upload support for .Net Core"
We are developing application using .NetCore i tried your package but it threw error for System.Configuration

[2017-12-13 17:22] glenn2223 commented on #14
OMFG <- Pardon my French

After some more digging, I found the problem. I'm not going to tell you straight away though. First, I shall explain.

I saw the problem was with `System.Linq.Expressions.Expression.Property(Expression expression, String propertyName)`. So I pulled up the method on Microsoft's Dev Network, [here](https://msdn.microsoft.com/en-us/library/bb341554%28v=vs.110%29.aspx?f=255&M

[2017-12-28 21:29] Cristiian opened #19 ".net 4.5.x"
Is there a way to get a working build for .net 4.5?, this is using some kind of new sintax not available in .net 4

[2017-12-29 17:32] DanielSSilva commented on #16
@alosupport It actually works on .NetCore, you need to download the System.Configuration.ConfigurationManager package from Nuget

[2018-02-26 06:02] #10 closed

[2018-02-26 06:03] #15 closed

[2018-03-05 01:08] dan-robinson opened #21 "XML Serialization"
The FilterStatment class does not serialize properly to XML, specifically the type is always going to be "FilterStatmentOfObject" due to setting the type equal to the type of "Value" which is always going to be "Object".  It should be changed to the generic type "TPropertyType".

[2018-03-05 19:34] dan-robinson commented on #21
Nevermind, my above solution just ends up changing all types to "object".  I found that I wasn't specifying the type when calling the "By" method on the filter.  However, to do this correctly I had to invoke using reflection so that I could correctly set the type based on the value type.

Unfortunately I am using VB and working with a WinForms control (ucFilter) similar to the sample in this proje

[2018-04-30 23:44] #16 closed

[2018-06-01 13:38] #14 closed

[2018-06-20 08:37] radenkozec opened #25 "Add ability to include non generic usage"
For me is the problem to provide generic type like this:
`var filter = new Filter<Person>();`
What I need is:
[code]
Can you provide this version?

[2018-06-22 07:52] axanth opened #26 "Nested List Members"
Hi, I noticed that when we have > 2 nested lists the build of expressions fail. i.e. expression sample Contacts[ContactLines[LineDecription]]. It is not handled correctly by function ProcessListStatement. Is this not supported or there is a workaround??

thanks

[2018-06-25 10:48] ms666 opened #27 ".NET Core"
Hey. A great job, but it does not work with a project written in the .net core.
In the **OperationHelper.cs** file, the **LoadDefaultOperations** method returns an error:
_System.Reflection.AmbiguousMatchException: "Ambiguous match found"._

I solved the problem by changing the name of the class **Contains** - also change all strings in this class and appropriate in the class **DoesNotContain**

R

[2018-07-01 15:02] whizkidwwe1217 opened #28 "Support JSON filter expressions to LINQ"
For example:
An expression from client-side is passed into to http paramter and convert it to linq filter statement

[2018-07-03 02:07] sarfrazaakbar opened #29 "Conventions(. and []) are not working on Type with depth more than one."
For Example
Person class has reference to Contact and Contact has Reference to ContactInfo and ContactInfo has reference to Address. I want to add filter on Address i.e Person.Contact.ContactInfo.Address. It is throwing exception.

[Program.zip](https://github.com/dbelmont/ExpressionBuilder/files/2157351/Program.zip)

[2018-07-09 04:42] SimonCropp commented on #27
@ms666 can u try the build of this PR https://github.com/dbelmont/ExpressionBuilder/pull/30

[2018-07-09 04:43] SimonCropp commented on #19
this would seem to be fixed

[2018-07-11 01:06] kahanu opened #31 "The binary operator GreaterThan is not defined for the types 'System.Decimal' and 'System.Double'."
I'm getting this message when passing in a number, and I also get a similar error message for DateTimeOffset.  Are there any work arounds, or fixes for this?

[2018-07-11 03:48] chinnarao commented on #27
can i use this Exp builder in [asp.net core 2.1 , .net core class library , ef core 2.1] , i doubt , it is tightly coupled with config file and .resx file, can you make this as nuget and utilize in any type of .net core supports projects , please dont use any config files or .resx file , if any one wants use then the package support with or with out config and as well as .resx files, please think

[2018-07-11 06:14] SimonCropp commented on #27
@chinnarao net core does support resources. but you do raise an interesting question.

@dbelmont it seems like the resource code is only consumed by the UI and is not needed by any of the core library. is it possible to split that stuff out or remove it?

[2018-07-11 17:53] kahanu commented on #31
Ok, I got it to work with a bit of a code smell in my opinion, but it does work.   If anyone has any suggestions on how to make this work more efficiently, it would be greatly appreciated.

    private void FilterStatementBuilder<T>(IFilter filter, List<SearchCriteria> list)
    {
        foreach (var criteria in list)
        {
            var subQueryItems = _fieldsList[criteria.FieldName.ToLowe

[2018-07-16 07:02] pouyaSamie opened #32 "Add Statment To filter"
Hi thank you for your great project
I want to add dynamic statement to Filter you have ReadFromxml but please provide a method to add IFilterStatement to filter class

thank you so much

[2018-07-24 05:40] MaklaCof opened #33 "Pass expression to filter.By method"
Hi!
Is it possible to use expression for filtering.

Something like that:
[code]

That would be super awesome.

[2018-07-24 10:09] lousadacbc opened #34 "Convert "Filter" to Native .NET Expression.Lambda"
Hello everyone,

I would like to use this nuget, it's very good. But I did not want my data layer to depend directly on it. Is there any way to do a caste or convert "Filter" to Native .NET Expression.Lambda?

Thank you

[2018-07-27 15:46] snill93 opened #35 "System.TypeInitializationException"
I'm trying to utilize the library in an ASP.NET Core 2.1 (preview) application but continue to get exceptions when running the following within a method in my data access layer / repository:

[code]

And when I run this line (from above):

ASP.NET Core crashes with the following:

[code]

Could you give me some help? Thanks in advice!

[2018-08-23 13:06] axanth commented on #26
Any news on this?

[2018-08-28 11:07] Hobbes1987 commented on #35
I got the same issue

[2018-09-04 10:50] axanth commented on #29
I Got the same issue. any news on this?

[2018-09-11 01:46] CodingGorilla commented on #27
@SimonCropp Yea, I wasn't looking for an answer from you 😄 .  Maybe a fork is in order?

[2018-09-17 15:52] HowardHoulston opened #36 "Suggestion to add NotIn operator"
Excellent code - thank you for sharing it.

I notice there is an In operator but unless I'm missing something, no NotIn operator.

I implemented as follows:

[code]

And adding to the Operation class:

[code]
I hope this helps.  Forgive me - I've never done a pull / submission so don't know the process.

Regards

[2018-10-16 09:25] ChinhDuong opened #37 "PropertyValueTypeMismatchException"
I got PropertyValueTypeMismatchException when running following. I use .net 4.5.2. Could anyone help me to resolve it? Thanks in advance
class Person{
	**public long? Id { get; set; };**
}

List<Person> people = new List&lt;Person&gt;{
	new Person { Id = 1 },
	new Person { Id = null },
	new Person { Id = 2 },
}
var filter = new Filter&lt;Person&gt;();
**long?[] idList = new long? { 1 };**
filter.B

[2018-10-17 00:21] whizkidwwe1217 opened #38 "Build Expressions from Anonymous Types"
There are instances where I need to make projections in Entity Framework. However, projections are anonymous types. For example:
`Context.Set<Person>().Select(e=> new { e.Id, e.Code, e.FirstName, e.LastName }).Where(<pass_expression_here>);`
Is it possible to build expressions when the source is an anonymous type?

[2018-11-13 16:37] bahodirk opened #39 "Is it possible to perform DoesNotContain?"
Hello,

I came across to this solution and I start to use it in my project. However, it seems that DoesNotContain (NotContains) missing. Have anybody try to implement DoesNotContain function?

Thank you very much in advance.

[2018-11-16 12:15] #39 closed

[2018-11-28 20:51] dbelmont commented on #27
Hi @ms666, @SimonCropp, @chinnarao, @CodingGorilla,
Sorry for this late reply, I've been busy with other stuff (you know, life happens... 😅).
It hadn't crossed my mind that the project could not work on .Net Core. I'll have a look. I should have some time to dedicate to the project soon.
Cheers.

[2018-11-28 20:54] dbelmont commented on #25
Hi @radenkozec,
Sorry for the late reply. I'll have a look at this.
I'll let you know when it's available.
Cheers.

[2018-11-28 21:00] dbelmont commented on #26
Hi @axanth,
Sorry for the late reply.
Being honest, I never needed to go more than one level into nested properties, so, I suppose the code won't really support this. But I'll have a look at this and keep you posted.
Cheers.

[2018-11-28 21:04] dbelmont commented on #28
Hi @whizkidwwe1217,
Sorry for the late reply. That's a very interesting idea, I really liked it.
Thanks for your suggestion.
Cheers.

[2018-11-28 21:11] dbelmont commented on #29
Hi @sarfrazaakbar, @axanth,
Sorry for the late reply. A similar issue was reported (#26). The thing is that the project currently doesn't really support going down more than one level into nested properties.
I'll have a look at this and try to keep you guys posted.
Cheers.

[2018-11-28 21:38] dbelmont commented on #32
Hi @pouyaSamie,
Sorry for the late reply. Many thanks for using the project. It's great to know your enjoying it.
I'll think about this and keep you posted.
Thanks for your suggestion.
Cheers.

[2018-11-28 21:52] dbelmont commented on #33
Hi @MaklaCof,
Sorry for the late reply. That's currently not supported.
So, what would exactly be the use for this? Why do you need to use the filter in those two different ways?
Cheers.

[2018-11-28 22:01] dbelmont commented on #34
Hi @lousadacbc,
Many thanks for using the project! 😄 Sorry for the late reply.
You can actually implicitly convert it to `Expression<Func<TClass, bool>>` by doing something like this:
[code]

[2018-11-28 22:01] #34 closed

[2018-11-28 22:03] dbelmont commented on #35
Hi @snill93, @Hobbes1987,
Sorry for the late reply.
The project currently doesn't support .Net Core, but I'll be working on that.
I'll try to keep you guys posted.
Cheers.

[2018-11-28 22:14] dbelmont commented on #36
Hi @HowardHoulston,
Many thanks for using the project and for your contribution! 😄 (and sorry for the late reply 😅)
I'll include this in the next release and make myself sure I mention your name in the commit message and the release notes to give you the due credit.
Many thanks.

[2018-11-28 22:19] dbelmont commented on #38
Hi @whizkidwwe1217,
Thanks for using the project. 😄
That's a very intriguing question. 🤔 I'll have a look and keep you posted on what I find.
Cheers.

[2018-11-29 20:54] labiej commented on #27
Hi @dbelmont

I ran a quick Portability analysis and the results are quite good as you can see in this attached report
[ApiPortAnalysis.xlsx](https://github.com/dbelmont/ExpressionBuilder/files/2630803/ApiPortAnalysis.xlsx)

Only .Net Standard has some issues, all of them present in [ExpressionBuilder/ExpressionBuilder/Configuration/ExpressionBuilderConfig.cs](https://github.com/dbelmont/Expressio

[2018-12-07 11:00] labiej commented on #27
Sorry haven't had time yet.
Maybe sunday otherwise it would have to wait until next weekend as I'm
quite busy during the week.

Kind regards,

Joris

Op vr 7 dec. 2018 11:28 schreef Even Schjølberg <notifications@github.com:

[2018-12-14 11:04] dbelmont commented on #27
Hi @labiej,

Many thanks for offering to have a look at that. There's an increasing number of people asking to support .Net Core.

My second child was born last week so you can imagine how busy I am right now 😄, but I should have a moment to take a look at all those issues (sometime) in the next two months. But, of course, every help is welcome and very appreciated.

Please, let me know if you cou

[2018-12-14 16:32] eveneveneven commented on #27
Congratulations @dbelmont!
If I had more of either time or ideas of how to do it I'd be glad to help, but I'm patiently waiting for @labiej as it seems he might be able to do something when he finds the time. Thanks @labiej :)

[2018-12-15 14:18] labiej commented on #27
A quick update @eveneveneven and @dbelmont

Well I've been working on this for a few hours so far.

It looks like I might be close all I need to do now is verify the generated dlls.
I'm hoping I can open a pull request tonight or tomorrow.

The tests haven't been ported at the moment but they do run.
I'll need to figure out how to test both versions from the same project but I suspect that might b

[2019-01-04 13:57] dbelmont commented on #31
Hi @kahanu,

First of all, thanks for using the library, and I'm sorry for the really late, late, late reply. 😢

From what you described, it seems to me that you're getting this error because you were always using `string` values while creating the `FilterStatement`. Which would explain why your workaround, well... works. 😄

If that's really the case, I've got two suggestions for you:
1. As you al

[2019-01-04 14:03] #21 closed

[2019-01-05 17:10] kahanu commented on #31
Hi David,

Thanks for the response.  I actually fixed it a while ago, but I’ll see if your solution works better.  Thanks again for making this, it has helped me build a flexible search solution for my app.

Thanks,

King Wilder
king@gizmobeach.com<mailto:king@gizmobeach.com>
818 384-4438
Skype: king.wilder

From: David Belmont <notifications@github.com>
Sent: Friday, January 4, 2019 5:58 AM
To: d

[2019-01-20 15:20] dbelmont commented on #37
Hi @ChinhDuong,

I created a [pre-release package at NuGet.org](https://www.nuget.org/packages/LambdaExpressionBuilder/2.0.2-beta) with the fix for this issue.
Would you mind checking that out and leaving a comment here to let me know if it's working correctly now?

Many thanks,
David

[2019-01-20 15:32] dbelmont commented on #25
Hi @radenkozec,

I created a new class called `FilterFactory` to enable the creation of filters without using generics. Something like this:
[code]
I added this to a [pre-release package at NuGet.org](https://www.nuget.org/packages/LambdaExpressionBuilder/2.0.2-beta). Would you mind checking that out and letting me know what you think about it?

Many thanks,
David

[2019-01-20 16:02] dbelmont commented on #26
Hi @axanth,

I created a [pre-release package at NuGet.org](https://www.nuget.org/packages/LambdaExpressionBuilder/2.0.2-beta) with (I believe) the fix for this issue.
Would you mind checking that out and leaving a comment here to let me know if it's working correctly now?

Many thanks,
David

[2019-01-20 16:03] dbelmont commented on #29
Hi @sarfrazaakbar,

I created a [pre-release package at NuGet.org](https://www.nuget.org/packages/LambdaExpressionBuilder/2.0.2-beta) with (I believe) the fix for this issue.
Would you mind checking that out and leaving a comment here to let me know if it's working correctly now?

Many thanks,
David

[2019-01-20 20:03] axanth commented on #29
Hi David,

Thank you for your answer! I am using your library already so I managed to fix the issue by myself!!

I will check the changes you made and compare with mine to pick the best solution!!

Best regards!

Alexandros Xanthoudakis

Software Engineer

Mob. 306944352976

www.oda.gr

From: David Belmont <notifications@github.com>
Sent: Sunday, January 20, 2019 6:04 PM
To: dbelmont/ExpressionBui

[2019-01-21 01:54] ChinhDuong commented on #37
Ok, I'll do it, thank you very much

On Sun, Jan 20, 2019 at 10:20 PM David Belmont <notifications@github.com>
wrote:

--
http://db.tt/kUFjeZN

[2019-01-21 09:48] ChinhDuong commented on #37
I tested the bug on 2.0.2-beta. it is not fixed

[2019-02-04 10:13] radenkozec commented on #25
@dbelmont Thanks for your effort. I managed to solve this in some other way. To be honest I don't remember how. Probably not using your library. Hopefully someone will find this feature useful.

[2019-02-04 10:13] #25 closed

[2019-02-05 10:08] dust63 opened #42 "StackOverflow Exception on PropertyCollection initialization"
Hi,

When you initialize a Property Collection with a with a nested property of the same type, you got a Stack Overflow exception.

Example object that create a StackOverflowException:

[code]

[2019-02-14 03:35] dbelmont commented on #42
Hi @dust63,

Many thanks for your interest in the project. I ran into that problem a couple of weeks ago while I was fixing another issue.

The good news is that's fixed and available in the [release I just published yesterday](https://www.nuget.org/packages/LambdaExpressionBuilder/2.1.0-rc). Would you mind having a look at that and letting me know if the issue persists or not?

Kind regards,
Davi

[2019-02-14 03:39] dbelmont commented on #37
Hi @ChinhDuong,

Good news! I believe I got it right this time (even created a couple of tests specifically for that).

I just published a [new version yesterday](https://www.nuget.org/packages/LambdaExpressionBuilder/2.1.0-rc). Would you mind having a look at that?

Many thanks,
David

[2019-02-14 05:56] dbelmont commented on #35
Hi @snill93, @Hobbes1987,

I created a [pre-release package at NuGet.org](https://www.nuget.org/packages/LambdaExpressionBuilder/2.1.0-rc) with support for .Net Core.
Would you mind checking that out and leaving a comment here to let me know if it's working correctly now?

Many thanks,
David

[2019-02-14 22:05] #36 closed

[2019-02-14 22:20] dbelmont commented on #27
Hi @ms666, @labiej, @eveneveneven, @SimonCropp, @chinnarao, @CodingGorilla,

I'm pleased to announce that I've just published a [pre-release package at NuGet.org](https://www.nuget.org/packages/LambdaExpressionBuilder/2.1.0-rc) with support for .Net Core.
Would you mind checking that out and leaving a comment here to let me know if it's working correctly?

Kind regards,
David

P.S.: BTW, I'm reall

[2019-02-21 08:30] SimonCropp commented on #27
@dbelmont no worries :)  and no credit needed. just happy to have helped in any way

[2019-02-25 14:03] SanchitChawla21 commented on #27
I got the latest, but seems like this library is not working on ASP.net core 2.1

[2019-02-26 11:56] SimonCropp commented on #27
@SanchitChawla21 perhaps u can give some more detail to " is not working"?

[2019-03-05 03:51] Arthur-Z commented on #35
An unhandled exception occurred while processing the request.

AmbiguousMatchException: Ambiguous match found.
System.RuntimeType.GetMethodImplCommon(string name, int genericParameterCount, BindingFlags bindingAttr, Binder binder, CallingConventions callConv, Type[] types, ParameterModifier[] modifiers)

TargetInvocationException: Exception has been thrown by the target of an invocation.
System.Ru

[2019-03-05 03:56] Arthur-Z commented on #27
System.TypeInitializationException: The type initializer for 'ExpressionBuilder.Helpers.OperationHelper' threw an exception. ---> System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation. ---> System.Reflection.AmbiguousMatchException: Ambiguous match found.
   at System.RuntimeType.GetMethodImplCommon(String name, Int32 genericParameterCount, BindingFl

[2019-03-05 03:59] Arthur-Z commented on #27
System.TypeInitializationException: The type initializer for 'ExpressionBuilder.Operations.Operation' threw an exception. ---> System.TypeInitializationException: The type initializer for 'ExpressionBuilder.Helpers.OperationHelper' threw an exception. ---> System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation. ---> System.Reflection.AmbiguousMatchExc

[2019-03-07 00:31] dbelmont commented on #27
Hi @SanchitChawla21 and @Arthur-Z,

Thanks for giving a try for the ExpressionBuilder. I'm really sorry that you guys are experiencing problems with .Net Core 2.1. I got to be honest, I only tested with 2.0.

I had a problem with my computer recently and I'm not sure when I'll be able to have a look at this. If anyone else here is willing to help (and got some time to spare), that would be highly

[2019-03-07 00:54] SimonCropp commented on #27
I can debug into it. How do i repro?

[2019-03-07 01:40] SanchitChawla21 commented on #27
@SimonCropp , you have just update target framework to 2.1,

I believe "Ambiguous match found." error is coming when we get method for contains, I just added overload the getMethod, and it fixed the issue

[code]

[2019-03-07 09:38] SimonCropp commented on #27
@SanchitChawla21 in that case can you submit a PR

[2019-03-07 15:46] dust63 commented on #42
I just retry this, and I comfirmed that it's ok.
Wouldn't it be interesting to add a level of depth ? At this time I have an Property collection with 400 properties because it is an entity with relations.

[2019-03-12 00:37] dbelmont commented on #42
Hi @dust63,

Thanks for confirming it's ok.
The level of depth is a good idea. I'll work on that.

Thanks,
David

[2019-03-20 11:26] EnricoWuestenberg commented on #35
Get the same exception with EqlausTo.
.net core 2.2 in asp core project.

[2019-03-22 09:09] dust63 opened #44 "Error to filter on bool?"
I have strange error when I want to filter to a Nullble<bool>.

See my unit test below to reproduce the bug.

[code]

[2019-03-28 16:13] ppmll opened #45 "NETSTANDARD2_2"
I am using dotnet 2.2 and was trying your library, I realized that your code is not completelly prepared for netstandard 2.2 but the change is not that hard.

What I did to make it work was:
1. in Settings.cs changed the:
    #if NETSTANDARD2_0
to
    #if (NETSTANDARD2_0 || NETSTANDARD2_1 || NETSTANDARD2_2)

2. in the Contains and NotContains operation, changed
     private readonly MethodInfo str

[2019-03-29 16:15] madben2000 opened #46 "Groups"
Hey,

there only exists StartGroup() function. How to end a group? How do you build following statement:

a=5 or (a=8 and b=5) or c=1

[2019-04-03 02:11] dbelmont commented on #45
Hi @ppmll,

That's amazing! 😄🎉👏 Many thanks for that!

Would you mind creating a pull request with this fix? That would help lots of people.

And, once again, many thanks!

Cheers,
David

[2019-04-03 02:11] dbelmont commented on #46
Hi @madben2000,

The `EndGroup()` doesn't exist because each group is automatically closed upon starting a new one, you just need to move all groups to the end of your expression. And, by the way, there is also no need to use `StartGroup()` for the very first group because it's automatically created as well. In that sense, your proposed expression should look something like this:

[code]

I would

[2019-04-05 13:03] dust63 opened #47 "Missing operation in readme"
Hi,

I noticed you missed some operations in the readme.
Example Text support In NotIn operations. I think the operations are not up to date in the readme.

Regards.

[2019-04-12 02:22] #45 closed

[2019-04-17 06:01] aldrashan opened #49 "Grouping"
How do I filter the following example?

(A=1 || (B=2 && F=5)) && (C=3 || D=4)

Seems impossible at the moment.

[2019-04-22 02:59] soongsta commented on #35
Same here for core 2.2 and equalsTo

[2019-05-01 09:50] MohammedNagar opened #50 "Building the filter"
Thanks a lot for this project, It's so special.

My issue is about (How to use). I'm a little confused, I have read the documentation and the code-project explanation, but I still miss something.

How could I compose the following code from the UI?

var filter = new Filter<Person>();
filter.By("Id", Operation.Between, 2, 4,  Connector.And);
filter.By("Contacts[Value]", Operation.EndsWith, "@email.

[2019-05-05 09:22] doaa009 commented on #47
how to use operation.IN  in filter  ?

[2019-05-07 14:07] NickSevens opened #51 "Filter.By with many-to-many relationship"
Hi David, really like this library, but I have an issue with filtering in a many-to-many EF core setup.
I have some models like:

[code]

I'm trying to dynamically filter a db query of SecureObjects by user's display name (among other things).

Is there any way to pass in this query? Can't get it to work right now, but this is what I tried:
`filter.By(Membership.User.DisplayName, ...)` resulting i

[2019-05-08 15:32] madben2000 commented on #49
I also think that it is not possible at the moment without the possibility to manually end a group. And if it would be somehow possible, it will get very confusing - at least for me. @dbelmont answered my similar question in #46 , but I also can't manage opening and closing multiple independent groups as in your example

[2019-05-08 15:49] madben2000 commented on #46
Sorry for my late response. Yes for my expression this would be possible. But what about

(A=1 || (B=2 && F=5)) && (C=3 || D=4)

as asked in #49? I have no idea how to create muliple non-nested groups like

(Group1) && (Group2)...

[2019-05-16 06:40] dust63 commented on #47
You pass an array of enumerable of values

[2019-05-29 14:43] NickSevens commented on #51
@dbelmont any chance you could help out? :)

[2019-06-05 12:49] GustavSt commented on #35
@dbelmont no plans on improving support for .net core? I'm using  the pre release and .net core 2.2

[2019-06-25 13:52] aldrashan commented on #51
We only filter 2 levels deep and the syntax there is ` filter.By("ArrayName[PropertyOfArrayObjectName]", ...);`. So in your case it might be `"Membership[User][DisplayName]"` or `"Membership[User].DisplayName"`?

EDIT
After working with the source code and looking at the tests the correct syntax is: `"Membership[User.DisplayName]"`.

[2019-06-25 14:03] aldrashan commented on #50
I'm not entirely sure what you mean.
You want to create filters in your UI and pass them to the backend and convert these to the correct lambda filter?

In our case we use [QueryBuilder](https://querybuilder.js.org/).
These filter values get posted to the backend and parsed to C# objects.
I then wrote a function that recursively creates the correct lambda filter by converting the parsed filter tre

[2019-06-26 05:58] aldrashan opened #52 "GetCustomSupportedTypes throws NullReferenceException"
GetCustomSupportedTypes (ExpressionBuilder.Helpers.OperationHelper) throws NullReferenceException when you don't have the config section defined in your project.

`foreach (var supportedType in _settings.SupportedTypes)
                {
                    if (supportedType.Type != null)
                    {
                        TypeGroups[supportedType.TypeGroup].Add(supportedType.Type);

[2019-06-26 06:43] aldrashan commented on #35
I've had the same issue.
After debugging it seems the problem for me was a nuget package that didn't specify its dependencies.
The nuget package that caused problems referenced another nuget package, but didn't actually use anything in that nuget package, causing our main project to not load in the "required" .dll or load in a different version of the .dll.
The code used to fetch all types used in

[2019-06-26 06:53] aldrashan commented on #49
I've actually managed to get my example working.
I believe it could be integrated into ExpressionBuilder and would be a viable replacement for the `StartGroup()` method.
I'm not sure how I'd define the syntax for it yet though.

I might open a pull request for it.

[2019-07-05 14:31] yar1k0v opened #55 "Getting exception on Mono 5.20.1.19"
Here is the stack trace

[code]

[2019-07-12 18:24] maruf-hossain opened #56 "TrimToLower"
Adding Trim() and ToLower() to the member and constant expression is causing lambda expression to return null. I believe LINQ doesn't know how to translate string.Trim() and string.ToLower(). This causes my code to throw an exception: "Value right cannot be null. Parameter right"

So I removed any calls to TrimToLower() in the GetExpression method under Operation classes (EqualTo.cs, Contains.cs,

[2019-08-27 07:37] #51 closed, assigned to nobody

[2019-09-06 09:06] dmitribodiu commented on #50
@aldrashan Can you point me where is that function located please?

[2019-09-08 14:55] dmitribodiu commented on #49
@aldrashan open pls, its a must have feature.

[2019-09-08 15:26] aldrashan commented on #49
I did. Owner never did anything with it. https://github.com/dbelmont/ExpressionBuilder/pull/54

[2019-09-18 13:17] sphildreth opened #57 "Unit testing throwing LoaderExceptions on ObjectModel"
When attempting to build a filter using a Xunit unit test I get a "LoaderException" of:
[code]

Here is a screenshot of the error details:
![image](https://user-images.githubusercontent.com/193334/65152003-bc873e80-d9ec-11e9-8e25-227e1fd9da4c.png)

Thoughts?

[2019-10-05 18:58] avKovalenko opened #58 "Member (Int64)"
Exception:
**ExpressionBuilder.Exceptions.PropertyValueTypeMismatchException:** "The type of the member 'Id' (Int64) is different from the type of one of the constants (Int32)"

Stack:
   в ExpressionBuilder.Builders.FilterBuilder.CheckPropertyValueMismatch(MemberExpression member, ConstantExpression constant1)
   в ExpressionBuilder.Builders.FilterBuilder.GetExpression(ParameterExpression param,

[2019-10-25 23:45] ervingegprifti opened #59 "PropertyValueTypeMismatchException"
Perhaps not a bug but it would be nice to use Contains in numeric fields as well.
I am getting error message:
The type of the member 'UserID' (Int32) is different from the type of one of the constants (String)

Suppose we have an ID or Value numeric field and we want to search if it contains 123...

Thank you

[2019-10-29 13:40] Dieder opened #60 ".Net Core 3 Issue"
I have installed the latest NuGet package of your library with version 2.1.0-rc.
Unfortunately it doesn't work at runtime.
After execution, I get the following error:
System.AggregateException : One or more errors occurred. (The type initializer for 'ExpressionBuilder.Helpers.OperationHelper' threw an exception.)
    ---- System.TypeInitializationException : The type initializer for 'ExpressionBui

[2019-11-10 10:28] gh0stwizard opened #61 "Support for lists of built-in types"
Hello,
I am writing an app using MongoDB, so I need to use lists of built-in types. For instance,
[code]
I see no way how to create a filter with ExpressionBuilder. Either, did I missed something in the docs and code and this is possible to be done?

Thanks!

[2019-11-10 15:26] gh0stwizard commented on #61
I have solved the issue. See commit https://github.com/gh0stwizard/ExpressionBuilder/commit/9e1f8ec7c4c37e842a5e2a33a914c93726eda471
Basically, you have to allow passing `ParameterExpression` to the method `GetExpression` of the Operation's implementation. I have included tests to the commit above, also MongoDB driver works too.
I wish complete more tests in the app before closing this issue, but

[2019-11-13 23:27] brentb25 commented on #35
I'm getting the same error
`System.TypeInitializationException: The type initializer for 'ExpressionBuilder.Operations.Operation' threw an exception. ---> System.TypeInitializationException: The type initializer for 'ExpressionBuilder.Helpers.OperationHelper' threw an exception. ---> System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation. ---> System.

[2019-12-10 20:21] sphildreth commented on #57
Resolved this with information found [here](https://stackoverflow.com/a/51776015)

[2019-12-10 20:21] #57 closed, assigned to nobody

[2019-12-15 13:24] dust63 opened #62 "Add operations Any and Not Any"
Hi,

I use your lib and it was very usefull. I add some operations like Any or NotAny for List type.
I think it could be interesting to add this operations to your lib.

I also add method to filter by property expression. Example:
`
filter.By<Student>(x=> x.Director.Name, Operations.Equal, "test");`

I think it provides more flexibility for the dev to use string property description or expression

[2020-01-31 13:12] NadzChoudhry opened #63 "Problem to create ISNULL for Guid?"
Hi there, i am using the library and it´s very usefull. i have a problem that i want to create INNULL for a guid? type, my filter is like this
new Filtro()
                {
                    Campo = "Id",
                    Tipo = TipoFiltro.GUID,
                    Comparacion = Compare.ISNULL,
                    Operacion = Operacion.OR,
                    TipoFiltroInput = ""
         }

[2020-02-11 10:47] dust63 commented on #62
`
     /// <summary>
    /// If Enumerable have no elements or is null.
    /// </summary>
    public class NotAnyOrNull : OperationBase
    {

        public NotAnyOrNull() : base("NotAnyOrNull", 0, TypeGroup.Enumerable, true, true)
        {
        }

        private static MethodInfo GetAnyMethod(MemberExpression member)
        {
            var enumerableType = typeof(Enumerable);

[2020-02-11 10:49] dust63 commented on #62
` /// <summary>
    /// If Enumerable have elements and not null.
    /// </summary>
    public class AnyAndNotNull : OperationBase
    {

        public AnyAndNotNull() : base("AnyAndNotNull", 0, TypeGroup.Enumerable, true, true) { }

        private static MethodInfo GetAnyMethod(MemberExpression member)
        {
            var enumerableType = typeof(Enumerable);
            var anyInfo = enu

[2020-03-13 17:54] KarthikKarunanithy opened #64 "Unable to handle Array"
Hi, I have just started to look into your library and it look and the test cases are helpful.  I have a class object with array eg: Contact[] Contacts. Your library only supports IList and in GetExpression it throws an out of bounds exception in ProcessListStatement at
var type param.Type.GetProperty(basePropertyName).PropertyType.GetGenericArguments()[0];

Can you please let me know if there is a

[2020-03-19 13:06] Paul-ICS commented on #35
It looks like this is already fixed in the repo. Could you push a new version to NuGet?
#27

[2020-04-07 13:16] demirmusa opened #65 "AmbiguousMatchException problem"
Hello @dbelmont, I have a problem, can you please check that.

It keeps giving me an **AmbiguousMatchException**

Steps to produce
* Add `LambdaExpressionBuilder` nuget packages.
It is important to use nuget package. It does not give any error when I try it with using project reference.
Tried nuget package versions: `2.0.1`, `2.1.0-rc`,

* Try to create a simple filter, for example:
_(Tried on .ne

[2020-04-13 10:12] alper-atay commented on #65
I have the same problem.

[2020-05-01 15:47] john-roland commented on #65
Hi,

got the same problem with the nuget package, while it's working well with the latest master.
Can you publish an updated nuget package please ?

[2020-05-01 15:48] john-roland commented on #60
yes, i agree this change will be better than loading all types..

[2020-05-13 23:11] InsonusK commented on #60
I have same issue, but i think project is dead. Last visit of author is more than year ago.

[2020-05-14 09:55] Dieder commented on #60
Yes, its a pity. This code is very effective for filtering data with
dynamic needs.

Op do 14 mei 2020 om 01:11 schreef InsonusK <notifications@github.com>:

[2020-05-20 07:11] john-roland commented on #60
there is a fork here, working well on dotnet core

https://github.com/yurisouza/expressionbuildernetcore

Ive asked the author to change this dynamic conditions load, to avoid scanning all the assemblies, this is creating too much problem for little benefit.. one can use the dedicated method to add new custom conditions.

John

[2020-05-23 15:37] driekus77 commented on #65
Same problem with AmbiguousMatch!

Is this still open?

[2020-07-14 19:09] josemojena commented on #65
I have the same error on net core 3.1 using the latest version published on the nuget, any help??

[2020-07-15 07:46] Akinzekeel commented on #65
I found & fixed the problem but I screwed up the pull request. Perhaps somebody else can replicate my changes and do it properly.

In the meantime (because I needed a working version of this package), you may try my fork https://www.nuget.org/packages/Akinzekeel.ExpressionBuilder/

[2020-07-15 11:33] josemojena commented on #65
Thanks, it worked like a charm.

[2020-11-11 11:06] pierre2301 opened #67 "Exception on GetTypes in OperationHelper.LoadDefaultOperations"
Hello,

i have an exception when I initialize a Filterstatment with an operation. An exception is raised on the funciton OperationHelper.LoadDefaultOperations:

StackTrace :

   à System.Reflection.RuntimeModule.GetTypes(RuntimeModule module)
   à System.Reflection.RuntimeAssembly.get_DefinedTypes()
   à ExpressionBuilder.Helpers.OperationHelper.<>c.<LoadDefaultOperations>b__4_0(Assembly

Exceptio

[2020-11-11 14:15] justinush commented on #64
Hi, have you found the solution for this?

I have the same issue.

[2020-11-11 14:34] KarthikKarunanithy commented on #64
Hi ,
Yes,  In FilterBuilder.cs I had to change the method ProcessListStatement..
below for reference

            if(propType.IsArray)
            {
                type = propType.GetElementType();
            }
            else
            {
                type = propType.GetGenericArguments()[0];
            }

On Wed, 11 Nov 2020 at 14:16, Justinus Hermawan <notifications@github.com>
wrote:

[2020-11-11 14:47] justinush commented on #64
Hi, thank you. I just tried it but with no luck.

I modified some in the `ProcessListStatement()` method:

[code]

My test case:
[code]

Error message:
`System.ArgumentException: '1' is not a member of type 'System.Object' (Parameter 'propertyOrFieldName')`

[2021-03-23 11:43] arashberlin opened #68 "Any Plan to Upgrade to Net Satndard 2.1 - Can I help/modify"
Hello David.

I like your work and I love what you have build with is project "ExpressionBuilder".

Do you have any plan to upgrade to Net Standard 2.1 and net48?

Do you allow me to change your code to keep it running in Net Standard 2.1/net48?

You are using  Apache License, Version 2.0 and sadly not MIT.  So I need your approval to continue to change your code and use it in my project.

Regards

[2021-04-09 02:36] kramffud commented on #68
David,

I know you're "slow to comment" because, as many of us are envious, you have a life.  Regardless...

I ported your masterpiece to .NET 5.0 MVC and the only thing that needed changing was the Supported Types configuration.  But I'm hesitant to share that b/c:

1. Per @arashberlin , I might be violating the Apache License?
2. I know enough about Git collaboration to be dangerous and I don't

[2021-11-08 09:29] mdrozdo commented on #68
@kramffud , I'm not really an expert on OSS licenses, but AFAIK Apache 2.0 doesn't restrict you from sharing the modified code, given you keep it under the same license and provide a list of modifications you have made to the original.

See https://tldrlegal.com/license/apache-license-2.0-(apache-2.0)

Therefore, it should be perfectly fine for you to fork this project on GitHub and push the chang

[2022-02-18 12:49] PrasadWeer opened #69 "Question - Complex expression with few groups"
I'm just having a requirement to add a complex expression to my project. Can anyone give me a direction to execute a expression like below with ExpressionBuilder?

**{** [ ( X>=10 AND X<20) OR (Y>=20 AND Y<30) ] AND (Z<50) AND (P="T1" OR P="T2") **}**
                                                                  OR
**{** [ ( X>=40 AND X<50) OR (Y>50 AND Y<60) ] AND (Z>=50) AND (P="T3" OR P="T3

[2022-03-03 00:20] LoungeFlyZ commented on #68
This project looks like it might be what you are after @arashberlin

https://github.com/yurisouza/expressionbuildernetcore

[2022-03-03 00:35] arashberlin commented on #68
@LoungeFlyZ  many thanks. But I stopped using this lib.

[2022-03-03 00:35] #68 closed, assigned to nobody

[2022-03-03 00:41] LoungeFlyZ commented on #68
@arashberlin did you move to something else that is better maintained?  i would be interested in hearing what you did end up using

[2022-04-12 17:07] kramffud commented on #68
Per @mdrozdo, I will fork what I've got that now supports .NET 6.  For my tastes, my latest rev no longer employs System.ConfigurationManager.   I now instantiate the Supported Types from application.json and stash them in a Singleton service that is injected as needed.  Besides being more .NET 6ish, this eliminates re-reading Supported Types every time an Expression Builder Filter is spun up.  I'

[2022-05-24 11:30] saadsaeed01 commented on #26
Hey @dbelmont

Hope you are fine. Are you still working on this project?
If yes than in how much time release 2.1.0 will be created?